
# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
ANYTHING? ANYTHING OH YEAH OH YEAH OH YEAH OH YEAH I SHALL OVERTHROW THE AMERICAN GOVERNMENT
I WILL DO IT RIGHT NOW
IN THE MIDDLE OF A PANDEMIC
I AM WILLING TO RISK CONTACTING THE PESTILINCE IN ORDER TO OVERTHROW THE AMERICAN GOVERNMENT
BECAUSE
I MUST OVERTHROW THE AMERICAN GOVERNMENT TO DESTROY
OHIO
BECAUSE OHIO IS THE ROOT OF ALL EVIL AND MUST BE DESTORYED
YOU CANT SEE BUT I JUST LOOKED OUT TOWARDS TEH WEST AND GLARED AT THE GENERAL DIRECTION OF OHIO
IF I EVER GO TO OHIO I SHALL SPIT ON THE GROUND MULTIPLE TIMES AND LEAVE ASAP
hee heee heee heee heee hee hee hee i can type even though it is read only READ ONLY READ ONLY READ ONLY READ ONLY
BARTHELEMY IS VERY UPSET AT THIS INJustice
s